{% extends "base.html" %}
{% load static %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}
<div class="ui segment ui raised">
  <div class="ui grid">
    <div class="row">
      <div class="six wide column">
        <img src="{% static 'signin.svg' %}">
      </div>
      <div class="ten wide column">
        <h1>{% trans "Sign Out" %}</h1>

        <p>{% trans 'Are you sure you want to sign out?' %}</p>


        <form method="post" action="{% url 'account_logout' %}" class="login ui form">
          {% csrf_token %}
          {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
          {% endif %}
          <button class="ui button secondary" type="submit">{% trans 'Sign Out' %}</button>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}
