{% extends "base.html" %}
{% load static %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
<div class="ui segment ui raised">
    <div class="ui grid">
        <div class="row">
            <div class="six wide column">
                <img src="{% static 'signup.svg' %}">
            </div>
            <div class="ten wide column">

                <h1>{% trans "Password Reset" %}</h1>
                {% if user.is_authenticated %}
                {% include "account/snippets/already_logged_in.html" %}
                {% endif %}

                <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>

                <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset ui form">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input class="ui button secondary" type="submit" value="{% trans 'Reset My Password' %}" />
                </form>


                <p style="margin-top:  5% !important">{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}
